<p>Welcome to My Sample Application</p>

<% if (allrecs.length > 0) {%>
    <table>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Image</th>
            <th>Sale Price</th>
            <th>Status</th>
			<th>Homepage</th>
        </tr>

        <% allrecs.forEach((recref, index) => { %>
        <tr>
            <td><%= recref.product_id%></td>
            <td><%= recref.productname%></td>
            <td><%= recref.productimage%></td>
            <td><%= recref.saleprice %></td>
            <td><%= recref.status %></td>
        </tr>
        <% }); %>
    </table>
<% } else { %>
    <p>No Records Available</p>
<% } %>
