<p>Welcome to My Sample Application</p>

<p> Book List is: <%= passeddata %> </p>

<hr>

<% passeddata.forEach((book, index) => { %>
	<p> Book Number: <%= index %> </br>
		Book Title: <%= book.title %> </br>
		Book Author: <%= book.author %> </br>
		Published At: <%= book.publishedAt %> 
	</p>

<% }); %> 