<h1> Details </h1>

<table>
	<tr> <td> Product ID: </td> <td> <%= onerec.product_id %> </td> </tr>
	<tr> <td> Product Name: </td> <td> <%= onerec.productname %> </td> </tr>
	<tr> <td> Image: </td> <td> <img src="/images/<%= onerec.productimage %>" </td> </tr>
	<tr> <td> Description: </td> <td> <%= onerec.description %> </td> </tr>
	<tr> <td> Category ID: </td> <td> <%= onerec.category_id %> </td> </tr>
	<tr> <td> Supplier ID: </td> <td> <%= onerec.supplier_id %> </td> </tr>
	<tr> <td> Sub-Category 1: </td> <td> <%= onerec.subcategory_1 %> </td> </tr>
	<tr> <td> Sub-Category 2: </td> <td> <%= onerec.subcategory_2 %> </td> </tr>
	<tr> <td> Sale Price: </td> <td> <%= onerec.saleprice %> </td> </tr>
	<tr> <td> Status: </td> <td> <%= onerec.status %> </td> </tr>
</table>

<form action="/catalog/add" method="post" >
	<input type="hidden" name="product_id" value=<%= onerec.product_id %> > 
	Quantity: <input type="text" name="qty" size=2 required> 
	<button type="submit" class="button1">Add to Cart</button>
</form>